<.flash_group flash={@flash} />
<div class="grid h-[100vh] grid-cols-1 grid-rows-[1fr_40px] overflow-auto">
  <div>
    <%= @inner_content %>
  </div>
  <div>
    <!-- <.Bar  /> -->
    <SnapWeb.V2.Components.Bar.bar window={@window} session={@session} />
  </div>
</div>
