<.flash_group flash={@flash} />
<div class="grid h-[100vh] grid-cols-1 grid-rows-[1fr_20px] overflow-auto p-1">
  <div>
    <%= @inner_content %>
  </div>
  <div>
    <.svelte name="sessions/layout" props={%{sessions: @sessions, active_session: @active_session}} />
  </div>
</div>
